.custom-shape-divider-top-1723906155 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1723906155 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 183px;
}

.custom-shape-divider-top-1723906155 .shape-fill {
  fill: #c23535;
}
